<div class="container">
  <div class="row">
    <div class="col-12 col-sm-5 pt-5">
      <h2 class="pt-5">ESQUIZ</h2>
      <form name="formUser" method="post">
        <h2>Đăng nhập</h2>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Tên đăng nhập</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            name="username"
            ng-model="user.username"
            required
            oninvalid="this.setCustomValidity('Vui lòng nhập tên đăng nhập')"
            onchange="this.setCustomValidity('')"
          />
          <div class="text-danger" ng-hide="formUser.username.$untouched || formUser.username.$valid">
            <small ng-show="formUser.username.$error.required"> Không được để trống </small>
          </div>
        </div>
        <div class="mb-3">
          <label for="passwo" class="form-label">Mật khẩu</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="passwo"
            check-password
            ng-model="user.password"
            required
            oninvalid="this.setCustomValidity('Vui lòng nhập mật khẩu')"
            onchange="this.setCustomValidity('')"
          />
         <div class="text-danger" ng-hide="formUser.password.$untouched || formUser.password.$valid">
            <small ng-show="formUser.password.$error.required"> Không được để trống </small>
            <small ng-show="formUser.password.$error.check_password"> Độ dài tối thiểu 6 kí tự </small>
          </div>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked">
            Ghi nhớ đăng nhập
          </label>
          <span class="text-right px-3"
            ><a class="text-decoration-none" href="#signup"
              >Đăng ký ngay ?</a
            ></span
          >
          <span
            class="text-right px-2 text-primary"
            style="cursor: pointer"
            data-bs-toggle="modal"
            data-bs-target="#model-pass"
            >Quên mật khẩu ?</span
          >
        </div>
        <!-- Forgot password -->
        <!-- <form action=""> -->
        <div
          class="modal fade"
          id="model-pass"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Quên mật khẩu
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label class="mb-3" for="">Email</label>
                  <input type="text" class="form-control" ng-model="getemail" />
                  <label class="mb-3 mt-2" for="">Mã xác nhận</label>
                  <input
                    type="text"
                    class="form-control mb-3"
                    ng-model="getid"
                  />
                  <div
                    class="g-recaptcha"
                    data-sitekey="6LeaFjYeAAAAAD9GD_mjTtk5vNInxQIA09us9Enn"
                  ></div>
                  <br />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Đóng
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  ng-click="getpass(getemail, getid)"
                >
                  Lấy lại mật khẩu
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- </form> -->
        <br />
        <button type="submit" class="btn btn-primary" ng-click="submitLogin($event)">
          Đăng nhập
        </button>
      </form>
    </div>
    <div
      class="col-12 col-sm-7 p-3"
      style="display: flex; justify-content: center; align-items: center"
    >
      <img
        src="../img/undraw_mobile_login_re_9ntv.svg"
        class="img-fluid"
        alt=""
      />
    </div>
  </div>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
